<div class="bs-docs-section">
  <div class="page-header">
    <h1 id="js-overview">Showcase</h1>

    <h3 id="js-individual-compiled">Project Created!</h3>
    <p>Please choose components from the left pane.</p>
  </div>