{{#each item in controller}}
    <li>
        <a {{action "select" item}} style="cursor: pointer">
            {{item.title}}
            {{#if item.special}}
                {{bs-label content="Special" type="danger"}}
            {{/if}}
        </a>
    </li>
{{/each}}